body {
}

#ID_AracSec_Div {
    background-color: rgb(136, 139, 237);
    border-width: 3px;
    border-color: rgb(200, 201, 242);
    margin-top: 50px;
    border-style: solid;
    border-radius: 20px 20px;
    width: 500px;
    height: 700px;
    padding: 50px;
}

.DDL_AracSec {
    width: 370px;
    height: 40px;
    margin-left: 30px;
    margin-top: 10px;
}

.Envater {
    height: 40px;
    width: 150px;
    float: right;
    margin-top: 10px;
    margin-right: 30px;
}

    .Envater .Button_Envanter {
        height:inherit;
        width:inherit;
    }