body {
}

#ID_AracSec_Div {
    background-color: rgb(180, 218, 247);
    border-width: 3px;
    border-color: rgb(165, 205, 235);
    margin-top: 50px;
    border-style: solid;
    border-radius: 20px 20px;
    width: 500px;
    height: 700px;
    padding: 50px;
}

.DDL_AracSec {
    width: 370px;
    height: 40px;
    margin-left: 30px;
    margin-top: 10px;
}

.Envater {
    height: 40px;
    width: 150px;
    float: right;
    margin-top: 10px;
    margin-right: 30px;
}

    .Envater .Button_Envanter {
        height: inherit;
        width: inherit;
    }

.Item_Envanter {
    margin: 15px;
    border-width: 2px;
    border-style: double;
    border-color: #c4c4c4;
    background-color: #ddedde;
    width: 500px;
    height: 500px;
}

    .Item_Envanter .ImageContainer_Div {
        margin-left: 25px;
        margin-top: 25px;
        width: 450px;
        height: 400px;
    }

        .Item_Envanter .ImageContainer_Div .Item_Image {
            width: inherit;
            height: inherit;
        }

    .Item_Envanter .Buttom_Div {
    }

        .Item_Envanter .Buttom_Div .LinkContainer_Div {
            margin-left: 25px;
            margin-top: 25px;
            width: 350px;
            height: 25px;
            overflow: hidden;
            float: left;
        }

            .Item_Envanter .Buttom_Div .LinkContainer_Div:hover .ToolTipLink {
                visibility: visible;
            }

            .Item_Envanter .Buttom_Div .LinkContainer_Div .ToolTipLink {
                visibility: hidden;
                width: auto;
                background-color: #c28989;
                color: #fff;
                text-align: center;
                border-radius: 6px;
                padding: 5px 0;
                /* Position the tooltip */
                position: absolute;
                z-index: 1;
            }

        .Item_Envanter .Buttom_Div .ButtonContainer_Div {
            margin: 25px;
            height: 25px;
            float: right;
        }

            .Item_Envanter .Buttom_Div .ButtonContainer_Div .Button_Ekle {
                width: auto;
                height: auto;
                border-radius: 10px 10px;
            }
